body {
  margin: 0;
  padding: 0;
  /* background-color: #f3f3f3; */
  background-color: #3282b8;
  color: black;
  font-family: "Roboto", sans-serif;
}

header {
  /* background-color: #009688; */
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
}

.card {
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

/* section {

  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 100px 100px 100px rgba(0.1, 0.1, 0.1, 0.1);
}

section#contact {
 
  background-color: black;
  color: white;

  color: white;
  text-align: center;
} */

#about {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 20px 0;
  transition: transform 0.3s ease;
}

#about:hover {
  transform: scale(1);
}

#about h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

#about p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#about {
  animation: fadeIn 1s ease-out;
}
#knowYourITI {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 20px 0;
  transition: transform 0.3s ease;
}

#knowYourITI:hover {
  transform: scale(1);
}

#knowYourITI h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

#knowYourITI p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

#knowYourITI button {
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#knowYourITI button:hover {
  background-color: #ff7f50;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#knowYourITI {
  animation: fadeIn 1s ease-out;
}

#infoAboutITIs {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 20px 0;
  transition: transform 0.3s ease;
}

#infoAboutITIs:hover {
  transform: scale(1);
}

#infoAboutITIs h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

#infoAboutITIs p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

#infoAboutITIs a button {
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#infoAboutITIs a button:hover {
  background-color: #ff7f50;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#infoAboutITIs {
  animation: fadeIn 1s ease-out;
}

/* Style the footer */
footer {
  /* background-color: #009688; */
  /* background-color: rgba(4,4,44); */
  background-color: black;

  color: #fff;
  text-align: center;
  padding: 10px;
}

nav ul li a {
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px; /* Adjust as needed */
  padding: 10px; /* Adjust as needed */
}

nav ul li a:hover {
  background-color: #fcfaf8; /* Change this to the color you want for the rectangle */
  color: black;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin: -35px 0 0 -35px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none !important;
}
